{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-notice">
            <div class="alert alert-{% if label == "error" %}danger{% else %}{{ label }}{% endif %}" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
