<ul class="nav flex-column flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('showDashboard') }}">
            <i class="fa fa-play" aria-hidden="true"></i> Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
</ul>