{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.eventManagement.addEvent{% endtrans %}{% endblock %}

{% form_theme addAnEventForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="container">
        <br><br>
        {% include 'includes/showFlashes.html.twig' %}

        <br><br>

        <h2 class="form-signin-heading">{% trans %}event_addForm_UserText{% endtrans %}</h2>
        {{ form_start(addAnEventForm) }}
        {{ form_widget(addAnEventForm) }}
        {{ form_end(addAnEventForm) }}

{% endblock %}
