{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.eventManagement.addEvent{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarEvent.html.twig" with {"addEvent": "active"} %}
{% endblock %}

{% form_theme addAnEventForm 'bootstrap_4_horizontal_layout.html.twig' %}
{% block content %}
    {% include 'includes/showFlashes.html.twig' %}

    <h2 class="form-signin-heading">{% trans %}Event.add.addedEvent{% endtrans %}</h2>
    {{ form_start(addAnEventForm) }}
    {{ form_widget(addAnEventForm) }}
    {{ form_end(addAnEventForm) }}
{% endblock %}
