<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('showDashboard') }}">ScoTooBo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-nav">
                <a href="/users/show/all" class="nav-link">{% trans %}menu.userGroupManagement.title{% endtrans %}</a>
            </li>
            <li class="navbar-nav">
                <a href="/events/show/all" class="nav-link">{% trans %}menu.eventManagement.title{% endtrans %}</a>
            </li>
            <li class="navbar-nav">
                <a href="/feedback/show/all" class="nav-link">{% trans %}menu.feedbackManagement.title{% endtrans %}</a>
            </li>
        </ul>

        <a class="btn btn-danger pull-right navbar-btn" href="/logout">{% trans %}general.logout{% endtrans %}</a>

    </div>
</nav>
