<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">

        <a class="navbar-brand" href="{{ path('showDashboard') }}">ScoTooBo</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}menu.userManagment.title{% endtrans %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/show/all">{% trans %}menu.userManagment.showAllusers{% endtrans %}</a></li>
                        <li><a href="/users/add">{% trans %}menu.userManagment.addUser{% endtrans %}</a></li>
                        <li><a href="#">Test3</a></li>
                    </ul>
                </li>
            </ul>
            <li>
                <a class="btn btn-danger pull-right navbar-btn" href="/logout">Logout</a>
            </li>
        </div>

    </div>
</nav>

