<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".modal-{{ user.uid }}">{% trans %}general.delete{% endtrans %}</button>

<div class="modal fade modal-{{ user.uid }}" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">{% trans %}general.delete{% endtrans %}?</h4>
            </div>
            <div class="modal-body">
                {% trans with {'%name%': user.uid} %}User.remove.ConfirmDialogText{% endtrans %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{{ path('removeUser', {'uid': user.uid}) }}">{% trans %}general.delete{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
