{% for message in app.flashes('error') %}
    {% if message != "" %}
        <div class="flash-notice">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    {% endif %}
{% endfor %}

{% for message in app.flashes('info') %}
    {% if message != "" %}
        <div class="flash-notice">
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        </div>
    {% endif %}
{% endfor %}

{% for message in app.flashes('success') %}
    {% if message != "" %}
        <div class="flash-notice">
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    {% endif %}
{% endfor %}