<ul class="nav nav-pills">
    <li class="nav-item">
        <a href="/events/show/all" class="nav-link-item {{ showAllEvents|default('') }}">
            <i class="fa fa-play" aria-hidden="true"></i> {% trans %}menu.eventManagement.showAllEvents{% endtrans %}
        </a>
    </li>
    <li class="nav-item">
        <a href="/events/add" class="nav-link-item {{ addEvent|default('') }}">
            <i class="fa fa-play" aria-hidden="true"></i> {% trans %}menu.eventManagement.addEvent{% endtrans %}
        </a>
    </li>
    <li class="nav-item">
        <a href="/events/detail" class="nav-link-item {{ detailEvent|default('') }}">
            <i class="fa fa-play" aria-hidden="true"></i> {% trans %}menu.eventManagement.detailEvent{% endtrans %}
        </a>
    </li>
</ul>
