<a href="/events/show/all" class="list-group-item {{ showAllEvents|default('') }}">{% trans %}menu.eventManagement.showAllEvents{% endtrans %}</a>
<a href="/events/add" class="list-group-item {{ addEvent|default('') }}">{% trans %}menu.eventManagement.addEvent{% endtrans %}</a>
<a href="/events/detail" class="list-group-item {{ detailEvent|default('') }}">{% trans %}menu.eventManagement.detailEvent{% endtrans %}</a>
