<a href="/users/show/all" class="list-group-item {{ showAllUsers|default('') }}">{% trans %}menu.userManagement.showAllUsers{% endtrans %}</a>
<a href="/users/add" class="list-group-item {{ addUser|default('') }}">{% trans %}menu.userManagement.addUser{% endtrans %}</a>
<a href="/users/detail" class="list-group-item {{ detailUser|default('') }}">{% trans %}menu.userManagement.detailUser{% endtrans %}</a>

<a href="/groups/show/all" class="list-group-item {{ showAllGroups|default('') }}">{% trans %}menu.groupManagement.showAllGroups{% endtrans %}</a>
