<ul class="nav nav-pills">
    <li class="nav-item">
        <a href="/feedback/show/all" class="nav-link-item {{ showAllFeedback|default('') }}">
            <i class="fa fa-play" aria-hidden="true"></i> {% trans %}menu.feedbackManagement.showAllFeedback{% endtrans %}
        </a>
    </li>
</ul>
