{% extends 'includes/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>You are not allowed to do this! ERROR 403</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h2>Ask the admin why you are not allowed to do that</h2>
        {% endif %}

        <p>
            You are not allowed to do that!<br>
            Login with the correct user first <a href="{{ path('login') }}">Login</a>.
        </p>
    </div>
{% endblock %}