{% extends 'includes/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>You are not allowed to do this! ERROR 403</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h2>Ask the admin why you are not allowed to do that</h2>
            <a href="{{ path('logout') }}">Logout</a> first.
        {% endif %}

        <p>
            Then login with the correct user <a href="{{ path('login') }}">Login</a>.

            If you want to give us feedback or report a problem, use the button in the right down corner!
        </p>
    </div>
{% endblock %}