{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}Dashboard.title{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarDashboard.html.twig" with {"showXXXXXXXXXX": "active"} %}
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    {% include 'includes/showFlashes.html.twig' %}

    <br><br><br><br>

    <section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
            <a href="{{ path('showAllUser') }}">
                <i class="fas fa-7x fa-users" ></i>
                <h4>Benutzer / Gruppenverwaltung</h4>
                <div class="text-muted">Hier kannst Gruppen / Nutzer hinzufügen oder modifizieren.</div>
            </a>
        </div>
        <div class="col-6 col-sm-3 placeholder">
            <a href="{{ path('showAllEvents') }}">
                <i class="fas fa-7x fa-calendar-day" ></i>
                <h4>Eventverwaltung</h4>
                <div class="text-muted">Hier kannst Veranstaltungen hinzufügen oder modifizieren.</div>
            </a>
        </div>
        <div class="col-6 col-sm-3 placeholder">
            <a href="{{ path('showAllFeedback') }}">
                <i class="fas fa-7x fa-tools" ></i>
                <h4>Admin-Einstellungen</h4>
                <div class="text-muted">Hier können die Admin Einstellungen vornehmen.</div>
            </a>
        </div>
    </section>
    </div>
{% endblock %}
