{% extends "includes/base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <br><br><br>
    {% include 'includes/showFlashes.html.twig' %}
    <div class="container">
        <div class="row">
            Das wird mal das Dashboard!
        </div>

    </div>
{% endblock %}